*{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
  display: flex;
  background-color: #255d45;
  text-size-adjust: flex;
  flex-wrap: wrap;
  height: 60px;
  width: 100%;
  display: inline-block;
  align-items: normal;
  }

img{
  height: 200px;
  width: 200px;
  border-radius: 20%
}

nav ul{
 margin: 0;
 padding: 1rem;
 list-style: none;
 display: flex;
 justify-content: space-evenly;
}

nav ul li{
margin-right: 1rem;
margin-left: 1rem;
}

nav ul li a{
  color: #fff;
  text-decoration: none;




