*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #6c756d;
  color: #eeebe9
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: #25272d;
  color: #cdd8cc
  }

nav ul{
  list-style-type: style none;
  display: flex;
  justify-content: space-between;
}

nav li {
padding: 10 px; 
}

nav a {
  color: #6b6666
  text-decoration; none:
}